<div class="stats_container">
  <div class="career">

    <h1 class="stats">Your Career Stats!</h1>



<table class="stats">

<tbody>
<tr>
  <th>Subject</th>
  <th>Grade</th>
</tr>

      <% @round_stats.each do |round| %>
<tr>
      <td class="subject"> <%= round[0] %></td>
      <td class="percent_of_round"><%= round[1] %> % </td>
</tr>
      <% end %>

</tbody>
</table>
<hr/>

<table class = "stats2">
<tbody>
<tr>
    <td>Rounds Played: </td>
      <td class="round_count"><%= @current_user.round_count %></td>
</tr>
<tr>
    <td>Correct Guesses: </td>
      <td class="correct_guesses"><%= @current_user.correct_guesses %></td>
</tr>
<tr>
    <td>Overall Guesses: </td>
      <td class="overall_guesses"><%= @current_user.overall_guesses %></td>
</tr>
</tbody>
</table>

  </div>
</div>

